<div class="full-card">
	<h3 class="no-margin-top">{{model.name}}</h3>
	<div class="divider"></div>
	<div class="row">
		<div class="input-field col s6">
			<label for="location" class="active">Lugar</label>
			{{input
				id='location'
				value=model.location
			}}
		</div>
		<div class="input-field col s6">
			{{#jquery-wrapper
				query='.datepicker'
				method='datepicker'
			}}
				{{input
					type='text'
					class='datepicker'
					placeholder='Fecha'
					value=model.date
				}}
			{{/jquery-wrapper}}
		</div>
		<div class="input-field col s6">
			{{#jquery-wrapper
				query='.timepicker'
				method='timepicker'
			}}
				{{input
					type='text'
					placeholder='Hora de inicio'
					class='timepicker'
					value=model.startHour
				}}
			{{/jquery-wrapper}}
		</div>
		<div class="input-field col s6">
			{{#jquery-wrapper
				query='.timepicker'
				method='timepicker'
			}}
				{{input
					type='text'
					placeholder='Hora de fin'
					class='timepicker'
					value=model.endHour
				}}
			{{/jquery-wrapper}}

		<button class="btn" {{action 'update'}}>Guardar Cambios</button>
		</div>
	</div>
	<div class="divider"></div>
	<br>
	<div class="row">
		<h5 class="col s6">Planeaciones</h5>
		<div class="col s6 right-align">
		<a data-target="addPlan" class="modal-trigger btn waves-effect waves-light red">
			<i class="material-icons left">add</i> Añadir Planeación
		</a>
		</div>
	</div>

	<table class="striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>URL</th>
			</tr>
		</thead>
		<tbody>
			{{#each model.plans as |plan|}}
				<tr>
					<td>
						<a data-target="planFrame" class="modal-trigger clickable">
							{{plan.name}}
						</a>
					</td>
					<td>{{plan.url}}</td>
					<td><a class="clickable" {{action 'deletePlan' plan}}><i class="material-icons">delete_forever</i></a></td>
				</tr>
				{{#jquery-wrapper
					query=".modal"
					method="modal"
				}}
					<div id="planFrame" class="modal">
						<div class="modal-content no-padding no-margin">
							<iframe src="https://docs.google.com/viewer?srcid={{plan.urlId}}&pid=explorer&efh=false&a=v&chrome=false&embedded=true" style="width: 100%; height: 1000px;"></iframe>
						</div>
					</div>
				{{/jquery-wrapper}}
			{{/each}}
		</tbody>
	</table>

	{{#jquery-wrapper
		query=".modal"
		method="modal"
	}}
		<div id="addPlan" class="modal">
			<div class="modal-content">
				<h4>Crear Planeación</h4>
				<form class="row">
					<div class="input-field col s12">
						{{input 
							id='name' 
							type='text'
							value=name 
							class='validate'
						}}
						<label for="name">Nombre</label>
					</div>
					<div class="input-field col s12">
						{{input 
							id='url' 
							type='text'
							value=url 
							class='validate'
						}}
						<label for="url">URL</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
				<a href="#!" class="waves-effect waves-green btn-flat" {{action 'createPlan' name url model}}>Crear</a>
			</div>
		</div>
	{{/jquery-wrapper}}
</div>