<div class="row no-padding no-margin">
	<div class="col s7 no-padding">
		<h4 class="no-margin">Sesiones</h4>
		<p class="grey-text text-darken-1 small-margin-top">{{capitalize (moment-format 
				dataService.date 'dddd D [de] MMMM [de] YYYY' 
				locale='es-us')
			}}
		</p>
	</div>
	<div class="divider col s12"></div>
</div>
{{#if dataService.data}}
	<button class="btn waves-effect right waves-light btn-rounded btn-add modal-trigger" data-target="addSession"><i class="material-icons left">add</i> Agregar</button>
	<div class="row no-margin no-padding">
		{{#each dataService.data as |session|}}
			<div class="col s9 no-padding">
				<h5 class="no-margin-bottom">{{session.name}}</h5>
				<p class="grey-text text-darken-1 small-margin-top no-margin-bottom inline-block"><i class="material-icons left">alarm</i>{{session.startHour}} - {{session.endHour}}</p> 
				&nbsp;
				&nbsp;
				&nbsp;
				<p class="grey-text text-darken-1 small-margin-top inline-block"><i class="material-icons left">location_on</i>{{session.location}}</p>
			</div>
			<div class="col s3">
				<br>
				{{#link-to 'auth.sessions.detail' session.id class="btn-floating right waves-effect waves-light white"}}
						<i class="material-icons circle">chevron_right_arrow</i>
				{{/link-to}}
			</div>
			<div class="divider col s12"></div>
		{{/each}}
	</div>
{{else}}
	<div class="full-width center padded-card">
		<h5 class="grey-text text-darken-1">No hay sesiones registradas para este día   :(</h5>
		<br>
		<button class="btn waves-effect waves-light btn-rounded modal-trigger" data-target="addSession"><i class="material-icons left">add</i> Agregar</button>
	</div>
{{/if}}

{{#jquery-wrapper
	query=".modal"
	method="modal"
}}
	<div id="addSession" class="modal">
		<div class="modal-content">
			<h4>Crear Sesión</h4>
			<form class="row">
				<div class="input-field col s6">
					{{input 
						id='name' 
						type='text'
						value=name 
						class='validate'
					}}
					<label for="name">Name</label>
				</div>
				<div class="input-field col s6">
					{{input 
						id='location' 
						value=location 
						class='validate'
					}}
					<label for="location">Lugar</label>
				</div>
				<div class="input-field col s6">
					{{material-date-input
						value=date
					}}
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
			<a href="#!" class="waves-effect waves-green btn-flat" {{action 'createSession' name location date}}>Crear</a>
		</div>
	</div>
{{/jquery-wrapper}}